.password-heading {
    text-align: center;
    color: gray;
    font-style: italic;
    padding: 5px; 
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-label {
    margin-bottom: 10px;
  }
  
  .form-input {
    width: 400px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
  }
  
  .form-button {
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 20px; 
    background-color: #ccc;
    color: #fff; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-button:hover {
    background-color: orange; 
  }
  